# ignore everything by default

*/**

!dunst/dunstrc

!.gitignore

!git/*

!fontconfig/fonts.conf

!i3/config

!nvim/*
!nvim/dein/*.toml
!nvim/conf/*
!nvim/conf/init/*
nvim/conf/init/key.vim
!nvim/snippets/*
!nvim/lua/*
!nvim/ftplugin/*

!polybar/*
!rofi/*

!alacritty.yml
!redshift.conf
